.advantages{
    width: 100%;
    text-align: center;

    .list{
        display: flex;
        flex-direction: column;

        .item:hover{
            .circle{
                background-color: lighten($text-color, 40%);
            }
        }
        .item{
            display: flex;
            padding: 10px;
            margin-top:10px; 


            .circle{
                padding: 15px;
                border-radius: 50%;
                background-color: $hyper-link-color-active;


                img{
                    width: 50px;
                    height: 50px;
                }
            }

            .text{
                text-align: justify;
                margin: auto 20px;
            }
        }
    }
}